<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../img/icono.png">
</head>
<body>
      <!--Header-->
      <header>
        <div>
            <h1>Efecto 2000s</h1>
            <p>Ropa deportiva importada</p>
        </div>
    </header>
    <!--Navbar-->
    <nav class="navbar">
        <a href="public/views/hombre.html">Hombre</a>
    </nav>
    <!--principal-->
   <main class="columna">
    <aside class="mitad1">
        <img src="../img/pantalon 1-PhotoRoom.png" class="prenda" alt="...">
    </aside>
    <aside class="mitad2">
        <div class="producto">
          <h2 class="nombre">Pantalon Bc Clothing</h2>
          <h2 class="precio">$35.000</h2>
          <div class="descripcion">
            <ul>
                <li>Pantalon gris Bc Clothing</li>
                <li>Estado: 10/10</li>
                <li>Marca: Bc Clothing</li>
                <li>Talle: M</li>
            </ul>
          </div>
        </div>
        <div class="comprar">
            <h2>comprar</h2>
        </div>
    </aside>
   </main>
</body>
</html>